[Desktop Entry]
Name=VentLinux
Comment=Ventrilo 3 voice client
Exec=ventlinux
Icon=audio-headset
Terminal=false
Type=Application
Categories=Network;AudioVideo;Chat;
StartupNotify=true
